main {
    background-color: white;

    .banner {
        align-items: center;
        background: #8FD3AD url('../img/bowl-and-pet-daities-on-green-background\ 1.png') no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-end;

        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 204.5px 0;
            width: 674.5px;

            @include phone {
                justify-content: flex-end;
            }

            .welcome {
                background-color: white;
                font-size: 35px;
                margin: 0 50px;
                padding: 10px 15px;
                border-radius: 5px;

                @include phone {
                    font-size: 25px;
                    text-align: center;
                    width: 80%;
                }
            }

            p {
                margin: 16.5px 0;
            }

            .comedero-button {
                border-radius: 5px;
                background-color: $main-color;
                color: white;
                margin: 0 180px;
                padding: 15px 23px;
                transition: 0.1s;

                &:hover {
                    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }

            p,
            .welcome,
            .comedero-button {
                @include phone {
                    margin-right: 25px;
                }
            }
        }
    }

    #products {
        .presentation {
            margin-bottom: 49px;
            margin-top: 20px;
            text-align: center;

            .pawprint {
                margin: 15px calc(50% - 33.5px);
            }

            .title {
                color: $sec-color;
                font-size: 40px;
            }
        }

        .cards {
            display: flex;
            justify-content: space-around;
            width: 839px;
            transition: 0.1s;

            @include tablet {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
            }

            @include phone {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
            }

            .card {
                background-color: #FBFAF6;
                border-radius: 5px;
                box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin: 0 5px;
                margin-bottom: 78px;
                transition: 0.1s;
                width: 265px;

                @include phone {
                    margin: 25px 0;
                }

                &:hover {
                    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
                    cursor: pointer;
                    transform: scale(1.05);
                }

                img {
                    border-radius: 5px;
                }

                .product-name {
                    color: $sec-color;
                }

                .price {
                    color: $main-color;
                    margin: auto 60px 8px;
                }
            }
        }
    }

    .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 340px;

        @include phone {
            width: auto;
        }


        h2 {
            color: $sec-color;
            font-size: 40px;
            margin: 33px 0;
        }

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;

            input {

                &[type="text"],
                &[type="mail"],
                &[type="tel"],
                &[type="reset"],
                &[type="button"] {
                    @include entrada;
                    background-color: $sec-color;
                }
            }

            input {
                &[type="reset"] {
                    @include button;
                    background-color: gray;
                    margin-bottom: 75px;
                }

                &[type="button"] {
                    @extend [type="reset"];
                    background-color: $main-color;
                }

                &[type="reset"],
                &[type="button"] {
                    @include phone {
                        border-radius: 25px;
                        height: 45px;
                        max-width: 45px 5px;
                        width: 199px;
                        margin-top: 27.5px;
                        margin-bottom: 37.5px;
                    }
                }
            }
        }
    }
}