@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background: #222222;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
}

h1 {
    color: #F0A83E;
    font-size: 1px;
    position: absolute;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*header*/

.top {
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    padding: 2px 0px;
    width: 1920px;
}

nav ul,
.top ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 150px;
}

header {
    background-color: #F0A83E;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    padding: 25px;
    position: sticky;
    top: 0px;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 1920px;
}

.logo {
    width: 166.38px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

nav a {
    color: white;
}

.menu-button {
    display: none;
    height: 15.31px;
    width: 20px;
}

/*main*/

main {
    background-color: white;
}

.banner {
    align-items: center;
    background: #8FD3AD url('../img/bowl-and-pet-daities-on-green-background\ 1.png') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.banner div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 204.5px 0;
    width: 674.5px;
}

.welcome {
    background-color: white;
    font-size: 35px;
    margin: 0 50px;
    padding: 10px 15px;
}

.comedero-button {
    color: white;
    background-color: #F0A83E;
    margin: 0 180px;
    padding: 15px 23px;
}

.welcome,
.comedero-button,
.card img,
.card {
    border-radius: 5px;
}

.pawprint {
    margin: 15px calc(50% - 33.5px);
}

.title {
    color: #3C2313;
    font-size: 40px;
}

.presentation {
    margin-bottom: 49px;
    margin-top: 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 78px;
    width: 839px;
}

.card {
    background-color: #FBFAF6;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 265px;
}

.product-name {
    color: #3C2313;
}

.price {
    color: #F0A83E;
    margin: auto 60px 8px;
}

/*footer*/

footer {
    background: #3C2313;
    color: white;
}

.footer-top {
    background-color: #F0A83E;
    padding: 15px;
}

.footer-middle {
    align-items: center;
    display: flex;
    margin: 30px 0;
    width: 1920px;
}

.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.left img {
    margin: 10px calc(50% - 89.5px);
}

.right {
    width: 50%;
}

.right img {
    margin: 10px calc(50% - 83.1875px);
}


.footer-bottom {
    background-color: #222222;
    margin: 0px;
    text-align: center;
}

@media screen and (max-width: 480px) {

    .top {
        display: none;
    }

    nav ul {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .banner {
        justify-content: center;
    }

    .welcome {
        font-size: 25px;
    }

    .cards {
        align-items: center;
        flex-direction: column;
    }

    .card{
        margin: 25px 0;
    }

    .footer-middle {
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
    }

    .left img {
        margin: 10px 0;
    }

    .right {
        order: -1;
    }

}